<div class="chart" id="chart">
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="'line'">
  </canvas>
</div>

<div class="tradings">
  <tabset>
    <tab *ngFor="let title of tradingTitles" [heading]="title">
        <ng-template *ngTemplateOutlet="tradings"></ng-template>
    </tab>
  </tabset>
</div>

<ng-template #tradings>
  <div  class="d-flex justify-content-between">
    <div  class="market-trade-buy">
      <form >
        <div  class="input-group">
          <input  type="number" placeholder="Price" required="" class="form-control">
          <div  class="input-group-append">
            <span  class="input-group-text">BTC</span>
          </div>
        </div>
        <div  class="input-group">
          <input  type="number" placeholder="Amount" required="" class="form-control">
          <div  class="input-group-append">
            <span  class="input-group-text">ETH</span>
          </div>
        </div>
        <ul  class="market-trade-list">
          <li >
            <a  href="#">25%</a>
          </li>
          <li >
          <a  href="#">50%</a>
          </li>
          <li >
            <a  href="#">75%</a>
          </li><li >
          <a  href="#">100%</a>
        </li>
        </ul>
        <p >Available: <span >0 BTC = 0 USD</span>
        </p>
        <p >Volume: <span >0 BTC = 0 USD</span>
        </p>
        <p >Margin: <span >0 BTC = 0 USD</span></p>
        <p >Fee: <span >0 BTC = 0 USD</span></p>
        <button  type="submit" class="btn buy">Buy</button>
      </form></div><div  class="market-trade-sell">
    <form ><div  class="input-group">
      <input  type="number" placeholder="Price" required="" class="form-control">
      <div  class="input-group-append">
        <span  class="input-group-text">BTC</span>
      </div>
    </div>
      <div  class="input-group">
        <input  type="number" placeholder="Amount" required="" class="form-control">
        <div  class="input-group-append">
          <span  class="input-group-text">ETH</span>
        </div>
      </div>
      <ul  class="market-trade-list">
        <li ><a  href="#">25%</a>
        </li>
        <li ><a  href="#">50%</a>
        </li><li >
        <a  href="#">75%</a>
      </li>
        <li ><a  href="#">100%</a></li>
      </ul><p >Available: <span >0 BTC = 0 USD</span>
      </p>
      <p >Volume: <span >0 BTC = 0 USD</span></p>
      <p >Margin: <span >0 BTC = 0 USD</span></p>
      <p >Fee: <span >0 BTC = 0 USD</span></p>
      <button  class="btn sell">Sell</button>
    </form>
  </div>
  </div>
</ng-template>
